[user]
	name = Xander Dumaine
	email = xander.dumaine@inin.com
[push]
	default = current
[core]
	excludesfile = /Users/xanderdumaine/.gitignore_global
	editor = atom --wait
	# insanely beautiful diffs
	pager = bash -lc 'diff-highlight | strip_diff_leading_symbols | less -r' -
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[color "diff-highlight"]
	oldNormal = "red bold"
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
